body {
    display: flex;
    justify-content: center;
}

#calc-whole {
    display: flex;
    flex-direction: column;
    margin-top: 128px;
    width:328px;
    gap: 8px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 8px; 
}

#output {
    font-size: 2em;
    justify-content: flex-end;
    padding-right: 8px;
}

.number-button, .operator-button, .equals-button {
    width: 72px;
    aspect-ratio: 1/1;
}

.rectangle-button {
    width: 152px;
    height: 72px;
}