html {
    box-sizing: border-box;
  }
  *, *::before, *::after {
    box-sizing: inherit;
  }  

* {
    touch-action: manipulation;
}

body {
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
}

#calc-whole {
    display: flex;
    flex-direction: column;
    margin-top: 96px;
    margin-bottom: 16px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 16px;
    width:348px;
    gap: 8px;
    border: 2px solid black;
    border-radius: 1.5em;
    background-color: #999999;
}

.row {
    display: flex;
    /* flex: content; */
    justify-content: flex-start;
    gap: 8px;
    height: 72px;
}

#output {
    font-size: 2em;
    justify-content: flex-end;
    margin-bottom: 8px;
    padding: 16px;
    border: 1px solid black;
    border-radius: 0.25em;
    background-color: #dddddd;
}

button {
    height: 100%;
    aspect-ratio: 1/1;
    font-size: 1em;
    border-radius: 0.5em;
    color: black;
    padding: 0px;
    margin: 0;
}

.operator-button, .equals-button {
    background-color: #B2D1E6;
}

.number-button{
    background-color: #D8E8F3;
}

.action-button{
    background-color: #8DB9D8;
}

#bottom-two-rows {
    display: flex;
    gap: 8px;
}

#equals {
    width: 72px;;
}

#zero {
    width: 100%;
}

#left-side {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#right-side {
    display: flex;
    flex: 1;
}